@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /* Primary text color: lime */
  --foreground: #a3e635; /* lime-400 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #bef264; /* lime-300 on dark */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
